!!!
html
    head
        title #{title}
        link(rel='stylesheet', href='/public/css/app.css')
    body
        .page-header
                .container
                        h1= title
        block content
